@charset "UTF-8";@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(../fonts/Pretendard-Regular.woff2) format("woff2"),url(../fonts/Pretendard-Regular.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(../fonts/Pretendard-Medium.woff2) format("woff2"),url(../fonts/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(../fonts/Pretendard-SemiBold.woff2) format("woff2"),url(../fonts/Pretendard-SemiBold.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(../fonts/Pretendard-Bold.woff2) format("woff2"),url(../fonts/Pretendard-Bold.woff) format("woff")
}
/* CSS Document */
/*
*** reset ***/
* {margin:0; padding:0; box-sizing:border-box; line-height:1; word-break:keep-all; font-family:'Pretendard',-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif; font-weight:400;}
li {list-style:none;}
img,fieldset {border:none;}
table {width:100%; border:0; border-spacing:0; border-collapse:collapse;}
select,input,textarea {margin:0; padding:0; outline:0;}
a {text-decoration:none;}

*,::after,::before {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #1e1e1e;
    word-break: keep-all;
	letter-spacing: -1px;
	line-height: 1.3;
}

html {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0
}
/*스트롤바 색상*/
::-webkit-scrollbar{width: 16px;}
::-webkit-scrollbar-track {background-color:#f1f1f1;}
::-webkit-scrollbar-thumb {background-color: #f2f6ff;
    border: 1px solid #b0c6f7;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#fff;border: 1px solid #b0c6f7;} 
/*스트롤바 색상*/

main {
    display: block
}

address,blockquote,dl,figure,form,iframe,p,pre,table {
    margin: 0
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none
}



hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}

pre {
    font-size: inherit
}

em {
    font-style: unset
}

address {
    font-style: inherit
}

a {
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

span {
    display: inline-block
}

abbr[title] {
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: inherit
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

embed,iframe,img,object,svg {
    vertical-align: bottom
}

img {
    display: block
}

button,input,optgroup,/*select,*/textarea {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    background: 0 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit
}

select {
    cursor: pointer
}


[type=checkbox] {
    -webkit-appearance: checkbox;
    appearance: checkbox
}

[type=radio] {
    -webkit-appearance: radio;
    appearance: radio
}

[type=button],[type=reset],[type=submit],button {
    cursor: pointer
}

[type=button]:disabled,[type=reset]:disabled,[type=submit]:disabled,button:disabled {
    cursor: default
}

:-moz-focusring {
    outline: auto
}


option {
    padding: 0
}

fieldset {
    margin: 0;
    padding: 0;
    min-width: 0
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

label {
    cursor: pointer
}

details {
    display: block
}

summary {
    display: list-item
}

[contenteditable]:focus {
    outline: auto
}

table {
    border-color: inherit;
    border-collapse: collapse
}



th {
    text-align: left;
    font-weight: 700
}


.icon-box {
    background-color: #ddd;
    padding: 2rem
}

.hidden {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    clip: rect(0 0 0 0)
}



body.scroll-up #wrap .footer-top {
    visibility: visible;
    opacity: 1
}

body.scroll-down #wrap .footer-top {
    visibility: hidden;
    opacity: 0
}

body.current-top #wrap .footer-top {
    visibility: hidden;
    opacity: 0
}

body.scroll-middle #wrap .footer-top {
    position: fixed;
    width: calc(100% - 10rem);
    bottom: 120px;
    height: auto;
    top: auto;
    visibility: visible;
    text-align: right
}

body.scroll-middle.scroll-down #wrap .footer-top {
    visibility: hidden
}

.pc-br {
    display: block
}

.mo-br {
    display: none
}

#wrap #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
		background: #00000024;
}




#wrap #header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    padding: 0 8.125rem 0 5.625rem;
		min-width: 1500px;
}

#wrap #header .container.on .top-content #gnb .gnb-list .gnb-content-wrap {
    visibility: visible;
    opacity: 1
}

#wrap #header .container.on .top-content #gnb .gnb-list>li>a:after {
    width: 100%;
    background-color: #aa2d29
}

#wrap #header .container .btn-menu {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Cpath d='M4.25 7.5H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3Cpath d='M4.25 15H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3Cpath d='M4.25 22.5H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: none
}

#wrap #header .container h1 {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%)
}

#wrap #header .container h1 a {
    display: block
}

#wrap #header .container h1 a img {
    width: 100%
}

#wrap #header .container .top-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 14%
}

#wrap #header .container .top-content #gnb {
    display: flex
}

#wrap #header .container .top-content #gnb .gnb-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem
}

#wrap #header .container .top-content #gnb .gnb-list a,#wrap #header .container .top-content #gnb .gnb-list li {
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    font-size: 1.25rem;
}

#wrap #header .container .top-content #gnb .gnb-list>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: relative
}

#wrap #header .container .top-content #gnb .gnb-list>li>a:after {
    transition: .3s;
    width: 0;
    height: .125rem;
    left: 0;
    bottom: -.125rem;
    content: "";
    display: block;
    position: absolute;
    z-index: 100
}

#wrap #header .container .top-content #gnb .gnb-list>li>a.on:after {
    width: 100%;
    background-color: #aa2d29;
    z-index: 200
}

#wrap #header .container .top-content #gnb .gnb-list>li>a.on+.gnb-content-wrap {
    visibility: visible;
    opacity: 1;
    z-index: 150
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(2) .gnb-dep-02>li>a:hover {
    color: #aa2d29;
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 {
    display: flex;
    align-items: center;
    position: absolute;
    left: -14.43rem;
    top: 100px;
    z-index: 100;
    gap: 1.875rem;
    width: max-content;
    flex-wrap: wrap
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 a,#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 li {
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #1e1e1e;
    min-width: 3.75rem;
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02>li>a:hover {
    color: #aa2d29
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(2) .gnb-dep-02 {
    left: -11.6rem;
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(3) .gnb-dep-02 {
    left: 2.5rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(4) .gnb-dep-02 {
    left: -4.6rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(5) .gnb-dep-02 {
    left: -1.7rem
}



#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap {
    visibility: hidden;
    opacity: 0
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content {
    border-top: 1px solid #d9d9d9;
    z-index: -2;
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 5.025rem;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 2.5rem 8.125rem 0 5.625rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .img-thum {
    width: 18.4375rem;
    border-radius: .3125rem;
    overflow: hidden;
    margin-right: 4.6875rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .img-thum img {
    width: 100%
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .txt-wrap strong {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: 500
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .txt-wrap p {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0;
    color: #666
}

#wrap #header .container .top-content .aside-wrap {
    position: absolute;
    right: 0;
    top: 1.88rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap {
    position: absolute;
    right: 12.125rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul {
    display: flex;
    align-items: center;
    gap: .75rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul a,#wrap #header .container .top-content .aside-wrap .language-wrap ul li {
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul>li {
    position: relative
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul>li.active a {
    color: #aa2d29
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul>li:first-child {
    padding-right: .75rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul>li:first-child::after {
    display: block;
    content: "";
    width: .0625rem;
    height: .8125rem;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: .25rem
}

#wrap #header .container .top-content .aside-wrap .search-wrap {
    position: absolute;
    right: 8.125rem
}



#wrap #header .container .top-content .aside-wrap .search-wrap .search-info-layer {
    position: fixed;
    width: 100%;
    height: 17.4375rem;
    top: 5rem;
    left: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    padding-top: 3.75rem;
    display: none;
    z-index: 100
}

#wrap #header .container .top-content .aside-wrap .search-wrap .search-info-layer .inner {
    max-width: 44.25rem;
    width: 100%;
    margin: 0 auto
}

#wrap #header .container .top-content .aside-wrap .search-wrap .search-info-layer p {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
    font-family: Pretendard;
    font-weight: 600;
    margin-bottom: 1rem
}
/*로그인창*/
.right-content{
	width: 500px;
    position: absolute;
    top: 365px;
    right: 169px;
    z-index: 9;
    background: #ffffff8a;
    padding: 30px;
    border-radius: 30px;	
}

#wrap #main {
    width: 100%;
    margin: 0 auto
}

#wrap #main .container {
    padding-top: 5rem;
    width: calc(100% - 10rem);
    max-width: 120rem;
    box-sizing: border-box;
    margin: 0 auto
}

#wrap #main .container .inner {
    width: 100%;
    max-width: 75rem;
    box-sizing: border-box;
    margin: 0 auto
}

#wrap #main>.container {
    padding-bottom: 7.5rem
}



#wrap #footer {
    /*/osition: relative;
    z-index: 1;*/
	background: #1c1c1c;
}



#wrap #footer .container .menu-list {
    display: flex;
    align-items: center;
    padding-bottom: 1.88rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem
}

#wrap #footer .container .menu-list a,#wrap #footer .container .menu-list li {
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0;
    line-height: 160%;
    font-weight: 600;
    color: #666;
}

#wrap #footer .container .menu-list>li {
    margin-right: 1.88rem
}

#wrap #footer .container .menu-list>li:last-child {
    margin-right: 0
}

#wrap #footer .container .footer-bottom {
    position: relative
}



#wrap #footer .container .footer-bottom address span {
    position: relative;
    font-size: .875rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #888;
    padding-right: .5rem
}

#wrap #footer .container .footer-bottom address span::after {
    width: .0625rem;
    height: .75rem;
    display: block;
    content: "";
    position: absolute;
    background-color: #ddd;
    right: 0;
    top: .25rem
}

#wrap #footer .container .footer-bottom address span:last-child {
    margin-right: 0
}

#wrap #footer .container .footer-bottom address span:last-child::after {
    display: none
}

#wrap #footer .container .footer-bottom .copy {
    font-size: .875rem;
    line-height: 140%;
    letter-spacing: 0;
    line-height: 120%;
    color: #888;
	    padding-bottom: 50px;
}



/*메인슬라이스*/
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box
}

.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper {
    transform: translate3d(0,0,0)
}

.swiper-horizontal {
    touch-action: pan-y
}

.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,.swiper-autoheight .swiper-slide {
    height: auto
}



#wrap .mainpage .section {
    max-width: 1200rem;	
	
}

#wrap .mainpage .section .main-title-wrap {
    position: relative;
    margin-bottom: 4.5rem
}

#wrap .mainpage .section .main-title-wrap .main-title span {
    display: block;
    font-size: 1.375rem;
    line-height: 150%;
    letter-spacing: 0;
    color: #aa2d29;
    font-weight: 600;
    line-height: 140%;
}

#wrap .mainpage .section .main-title-wrap .main-title h2 {
    font-size: 3.125rem;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: .75rem;
    font-weight: 600;
    font-size: 2.625rem;
}

#wrap .mainpage .section .main-title-wrap .main-title-link {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    right: 0;
    top: 1.81rem
}

#wrap .mainpage .section .main-title-wrap .main-title-link::after {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M13.5 20L21 12.5M21 12.5L13.5 5M21 12.5H3' stroke='%231E1E1E' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-left: 1.25rem
}

#wrap .mainpage .inner {
    max-width: 75rem;
    margin: 0 auto
}

#wrap .mainpage .main-visual .visual-slide {
    height: 100vh;
    overflow: hidden
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-text {
    position: fixed;
    left: 40%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 75rem;
    bottom: 8rem;
    opacity: 0;
    transition: .8s ease-in-out .5s
}
#wrap .mainpage .main-visual .visual-btn-inner {
    position: absolute;
    left: 40%;
    bottom: 9.87rem;
    transform: translateX(-50%);
    width: 100%;
    max-width: 75rem;
    z-index: 150;
    transition: .8s ease-in-out .5s
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-text::before {
    width: 94.1875rem;
    height: 35.375rem;
    background: radial-gradient(50% 50% at 50% 50%,rgba(0,0,0,.38) 0,rgba(6,27,100,0) 100%);
    content: "";
    display: block;
    position: absolute;
    left: -44%;
    top: -27%;
    z-index: -1
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-text p {
    font-size: 4.375rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    font-weight: 600
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-text p span {
    font-size: 3.125rem;
    line-height: 140%;
    letter-spacing: 0;
    display: block;
    color: #fff;
    margin-top: 5.65rem
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-img {
    height: 100%
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-img img.mo {
    display: none
}

#wrap .mainpage .main-visual .visual-slide .swiper-slide.swiper-slide-active .visual-text {
    bottom: 14.19rem;
    opacity: 1
}

#wrap .mainpage .main-visual .visual-btn-inner [class^=swiper-button] {
    width: 1.125rem;
    height: 1.125rem
}

#wrap .mainpage .main-visual .visual-btn-inner [class^=swiper-button]::after {
    font-size: 0
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-button-prev {
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.75 8.47656L2.25 8.47656' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M6.75 3.75L2.06667 8.55L6.75 13.35' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center center;
    left: 25.1rem
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-button-next {
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2.25 8.47656L15.75 8.47656' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M11.25 3.75L15.9333 8.55L11.25 13.35' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center center;
    left: 27.435rem
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination {
    left: 0;
    width: auto;
    display: flex;
    align-items: center
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    margin-right: 2rem;
    margin-left: 0;
    background: 0 0;
    display: flex;
    align-items: center
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination .swiper-pagination-bullet .progress-bar {
    font-size: 1rem;
    font-weight: 700;
    line-height: 130%;
    color: #fff
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination .swiper-pagination-bullet-active {
    margin-right: 1.88rem;
    width: 16.375rem;
    height: .1875rem;
    border-radius: 0;
    background: rgba(221,221,221,.5);
    position: relative
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination .swiper-pagination-bullet-active .progress-bar {
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0
}

#wrap .mainpage .main-visual .visual-btn-inner .swiper-pagination .swiper-pagination-bullet-active .progress-bar.bar-animation {
    animation: 8s start linear
}
/*메인배너*/
.main-BN {width: 1280px;
    margin: 0 auto;}
.main-BN h2{font-size: 33px;
    margin-bottom: 17px;
    font-weight: 700;
    letter-spacing: -2px;}
.main-BN span{color: #969696;letter-spacing: -1px;
    font-weight: 400;
}
.main_banner{
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.main_banner li{	
    width: 23%;
    float: left;
    padding: 50px 25px 30px 25px;
    border-radius: 20px;
    height: 355px;
    background: url(../img/main_banner01.png) #fff no-repeat 68px 195px;
    border: solid 1px #eee;
    box-shadow: 0 0 24px rgb(0 0 0 / 8%);
    margin: 65px 0;
	cursor: pointer;
}
.main_banner li:hover{background:url(../img/main_banner01.png) #fff4f4 no-repeat 68px 195px}
.main_banner li:nth-child(2) {background: url(../img/main_banner02.png) #fff no-repeat 35px 195px}
.main_banner li:nth-child(2):hover {background: url(../img/main_banner02.png) #fff4f4 no-repeat 35px 195px}
.main_banner li:nth-child(3) {background: url(../img/main_banner03.png) #fff no-repeat 68px 145px;}
.main_banner li:nth-child(3):hover  {background: url(../img/main_banner03.png) #fff4f4 no-repeat 68px 145px;}
.main_banner li:nth-child(4) {background: url(../img/main_banner04.png) #FFF no-repeat 43px 161px;}
.main_banner li:nth-child(4):hover  {background: url(../img/main_banner04_ov.png) #fff4f4 no-repeat 43px 161px;}
.main_banner li b{	
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
}
@media (max-width: 1199px) {
    #wrap .mainpage .main-products .produts-list li:focus .list-img img,#wrap .mainpage .main-products .produts-list li:hover .list-img img {
        transform:none
    }
	#main.lx.about .diagram-wrap {
        flex-direction:column
    }
	#wrap .mainpage .main-visual .visual-slide .swiper-slide .visual-text {
    left: 50%;padding: 10px;
	}
	#wrap .mainpage .main-visual .visual-btn-inner {
		left: 50%;padding: 10px;
	}
   
}


/*24-10-02*/
/*로그인박스*/
.loginbox .menuBox a + a {
    margin-left: 1.9rem;
    padding-left: 1.9rem;
}
.loginbox .menuBox a + a::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1px;
    background-color: rgba(0,0,0,0.3);
    content: '';
}
.loginbox .id_input_wrap {
    margin-top: 1.5rem;
}
.loginbox .id_input_wrap div + div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.loginbox .id_input_wrap p {
    margin-bottom: 10px;
}
.loginbox .tit {
    letter-spacing: -.18rem;
}

.joinbox {
    padding-left: 14.3rem;
}
.joinbox .info p {
    margin-top: 1.2rem;
    line-height: 1.39;
    margin-bottom: 1.5rem;
}
.joinbox .btn_line {
    margin: 2rem 0 1rem;
}
.joinbox .benefit {
    margin-top: 2rem;
    text-align: center;
}
.loginbox .btn_login {
    margin-top: 1rem;
}
/*공통*/
.f_b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fz13 {
    font-size: 13px;
}
.fz35 {
    font-size: 35px;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.bold {
    font-weight: bold !important;
}
.btn_color {
    color: #fff;
    background-color: #ad1c29;
}
.btn_submit {
    line-height: 3.7rem;
    border-radius: 2.3rem;
    display: block;
    cursor: pointer;
    text-align: center;
}
.btn_submit.wid {
    width: 100%;
}
