#wrap #header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100
}

#wrap #header.on {
    top: -5rem
}

#wrap #header.on.active {
    top: 0;
    transition: .5s ease-in-out
}

#wrap #header.on .container .right-content {
    right: -26.6875rem;
    visibility: hidden
}

#wrap #header.on .container .right-content.active {
    visibility: visible;
    right: -21.6875rem
}

#wrap #header.on .container .right-content.active.on {
    right: 0
}

#wrap #header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    padding: 0 8.125rem 0 5.625rem
}

#wrap #header .container.on .top-content #gnb .gnb-list .gnb-content-wrap {
    visibility: visible;
    opacity: 1
}

#wrap #header .container.on .top-content #gnb .gnb-list>li>a:after {
    width: 100%;
    background-color: #aa2d29
}

#wrap #header .container .btn-menu {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Cpath d='M4.25 7.5H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3Cpath d='M4.25 15H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3Cpath d='M4.25 22.5H26.75' stroke='%231E1E1E' stroke-width='1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: none
}

#wrap #header .container h1 {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%)
}

#wrap #header .container h1 a {
    display: block
}

#wrap #header .container h1 a img {
    width: 100%
}

#wrap #header .container .top-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 14%
}

#wrap #header .container .top-content #gnb {
    display: flex
}

#wrap #header .container .top-content #gnb .gnb-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem
}

#wrap #header .container .top-content #gnb .gnb-list a,#wrap #header .container .top-content #gnb .gnb-list li {
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #1e1e1e;
    font-size: 1.25rem
}

#wrap #header .container .top-content #gnb .gnb-list>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: relative
}

#wrap #header .container .top-content #gnb .gnb-list>li>a:after {
    transition: .3s;
    width: 0;
    height: .125rem;
    left: 0;
    bottom: -.125rem;
    content: "";
    display: block;
    position: absolute;
    z-index: 100
}

#wrap #header .container .top-content #gnb .gnb-list>li>a.on:after {
    width: 100%;
    background-color: #aa2d29;
    z-index: 200
}

#wrap #header .container .top-content #gnb .gnb-list>li>a.on+.gnb-content-wrap {
    visibility: visible;
    opacity: 1;
    z-index: 150
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(2) .gnb-dep-02>li>a:hover {
    color: #007cba
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.57rem;
    top: 8.75rem;
    z-index: 100;
    gap: 1.875rem;
    width: max-content;
    max-width: 40.625rem;
    flex-wrap: wrap
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 a,#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02 li {
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    color: #1e1e1e;
    min-width: 8.75rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-dep-02>li>a:hover {
    color: #aa2d29
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(2) .gnb-dep-02 {
    left: -5.6rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(3) .gnb-dep-02 {
    left: -13rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(4) .gnb-dep-02 {
    left: -19.2rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(5) .gnb-dep-02 {
    left: -26.7rem
}

#wrap #header .container .top-content #gnb .gnb-list>li:nth-child(6) .gnb-dep-02 {
    left: -31.5rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap {
    visibility: hidden;
    opacity: 0
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content {
    border-top: 1px solid #d9d9d9;
    z-index: -2;
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 5.025rem;
    width: 100%;
    height: 0;
    height: 17.4375rem;
    background-color: #fff;
    padding: 2.5rem 8.125rem 0 5.625rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .img-thum {
    width: 18.4375rem;
    border-radius: .3125rem;
    overflow: hidden;
    margin-right: 4.6875rem
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .img-thum img {
    width: 100%
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .txt-wrap strong {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: 500
}

#wrap #header .container .top-content #gnb .gnb-list>li .gnb-content-wrap .gnb-content .txt-wrap p {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0;
    color: #666
}

#wrap #header .container .top-content .aside-wrap {
    position: absolute;
    right: 0;
    top: 1.88rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap {
    position: absolute;
    right: 12.125rem
}

#wrap #header .container .top-content .aside-wrap .language-wrap ul {
    display: flex;
    align-items: center;
    gap: .75rem
}



